:root{
    --cor-de-fundo:rgba(80, 67, 255, 1);
    --cor-de-texto:rgba(111, 255, 87, 1);
    --botao-inativo:rgba(179, 179, 179, 0.2);
    --botao-ativo:rgba(179, 179, 179, 0.1);
    --texto-fundo:rgba(111, 255, 87, 1);



}